In [1]:
import numpy as np
Store5=np.random.randint(100,10000,size=(5,30))
Cum_Of_Five=Store5.cumsum(axis=1)

In [6]:
import pandas as pd
Five_Store=pd.DataFrame(Cum_Of_Five,
                        columns=range(1,31),
                        index=['Taipei','xinzhu','Taizhong','Tainan','Kaoxiong'])
Five_Store.T

    Taipei  xinzhu  Taizhong  Tainan  Kaoxiong
1     5220     925      1408    9435      1770
2     5345    4958      7904    9723      4993
3     7498    5378     16288   17552     11327
4    11145   15080     25585   22750     15758
5    16377   24586     27491   23739     25416
6    20043   31958     33565   24924     32923
7    25425   37214     43199   26534     35608
8    33312   43746     51893   31025     36608
9    35974   44416     52371   34349     40611
10   37392   52941     61625   36063     46015
11   41602   55094     66368   39721     54597
12   51437   64417     74031   42008     63276
13   60675   68934     80749   42357     68998
14   70079   71291     85773   44294     76939
15   79036   77430     90633   51959     81966
16   80522   79805     91561   57571     82978
17   81711   81020     99817   58735     83998
18   86649   83261    109599   66436     86135
19   88118   90121    118258   75739     92228
20   95863   92583    126319   83061     95629
21  102019  100977    135297   87663    104885
22  102631  107957    136730   96269    105621
23  111288  117732    141301   97284    114466
24  115540  123091    142490  106348    116843
25  123799  123990    148634  114151    123001
26  132506  130885    150637  122385    123354
27  135819  132561    157267  124596    126485
28  136046  133497    157441  129713    134038
29  145393  141688    159135  129980    141103
30  149136  151495    159509  131807    141993